<form method="POST">
    <div>
        <label>Barcode</label>
        <input name="barcode" value="<%= data.barcode %>"/>
    </div>
    <div>
      <label>Name</label>
      <input name="name" value="<%= data.name %>"/>
  </div>
    <div>
      <label>ISBN</label>
      <input name="isbn" value="<%= data.isbn %>" />
    </div>
    <div>
      <label>Price</label>
      <input name="price" value="<%= data.price %>" />
    </div>
    <div>
      <label>Cost</label>
      <input name="cost" value="<%= data.cost %>"/>
    </div>
    <button type="submit">Save</button>
    <button type="button"><a href="/"> Back</a></button>
</form>